discord.py==2.5.2
imageio==2.37.0
matplotlib==3.10.1
minimalmodbus==2.1.1
numpy==2.2.5
pypylon==4.1.0
PyQt5==5.15.11
pyqtgraph==0.13.7
pyserial==3.5
python-dotenv==1.1.0
python-usbtmc==0.8
pyusb==1.3.1
PyYAML==6.0.2
requests==2.32.3
typing_extensions==4.7.1
